@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Thin BETA'), local('Inter-ThinBETA'),
        url('../fonts/Inter-ThinBETA.woff') format('woff');
        font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Italic.eot');
    src: local('Inter Italic'), local('Inter-Italic'),
        url('../fonts/Inter-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}